header {
    background-color: #16c591;
    margin: auto;
    height: 100px;
    width: 60%;
}

body {
    background-color: #150f0a;
    background-color: ;
}

h1 {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 40pt;
}

 h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
    
}

.paragraph {
    
    margin: 20px auto;
    width: 60%;
    background-color:#2d1b08;
    
    color: white;
    /* display:flex; */
    p {
        margin-bottom: 1em;
    }
}

ul {
    color: white;
    text-align: left;
    margin: 10px auto; /* Add a left margin to move the list from the left side */
    padding-left: 5px; /* Add left padding to the list items */
     /* Remove default list styles */
}

ol {
    color: white;
    text-align: left;
    margin: 10px auto; /* Add a left margin to move the list from the left side */
    padding-left: 5px; /* Add left padding to the list items */
     /* Remove default list styles */
     list-style-type:decimal;
}
li {
    margin-top: 20px;


}

.container {
    width: 70%; /* Set the width of the container */
    margin: auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure full height of viewport */
}

.left-column, .right-column {
    width: calc(50% - 10px); /* Adjust for margins */
    margin: auto 65px; /* Margin between columns */
    background-color: #16c591;
    padding: 75px;
}

.button-container {
    margin-top: 20px; /* Adjust spacing */
    text-align: center; /* Center the buttons */
}


button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #2acdd3;
    color: white;
    font-size: 16px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;}

#message {
    font-size: 16px;
    font-weight: bold;
}

/* Styling for different buttons can be added here */

.footer {
    margin: 100px auto;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}